In [3]:
import pandas as pd
import geopandas as gpd
from scipy.spatial import cKDTree

# first get cooresponding HEX_ID of origin and destination
taxi_records = pd.read_csv('../../data/trip_records/hex_trips_2016-05.csv')
# taxi_gdf_o = gpd.GeoDataFrame(taxi_records,geometry=gpd.points_from_xy(taxi_records.origin_lon,taxi_records.origin_lat))

polygons = gpd.read_file('../../data/NYC_shapefiles/reachable_hexes.shp') # or insert the full-action-space hex shapefile and only select 'lon' != -1

# polygons = polygons.to_crs({'init':'epsg:4326'}) # lon,lat unit: feet to degree

polygons['CELL_ID']=polygons.index

hex_tree = cKDTree(polygons[['lon','lat']]) # hex's centroid lon, lat
_,ohex_ids = hex_tree.query(taxi_records[['origin_lon','origin_lat']],n_jobs=-1)
_,dhex_ids = hex_tree.query(taxi_records[['destination_lon','destination_lat']],n_jobs=-1)
taxi_records['o_hex_id'] = ohex_ids
taxi_records['d_hex_id'] = dhex_ids

In [21]:
taxi_records['datetime'] = pd.to_datetime(taxi_records['request_datetime'],unit='s')

In [22]:
taxi_records['datetime'] = taxi_records['datetime']-pd.Timedelta('4H')  # to shift it back to 12 AM - 12 AM.

taxi_records['day'] = taxi_records['datetime'].dt.day
taxi_records['hr'] = taxi_records['datetime'].dt.hour
taxi_records['min'] = taxi_records['datetime'].dt.minute
taxi_records['sec'] = taxi_records['datetime'].dt.second

In [26]:
taxi_records['tick'] = 60*taxi_records['hr']+taxi_records['min']

In [27]:
taxi_records

,id,request_datetime,trip_time,origin_lon,origin_lat,destination_lon,destination_lat,fare,o_hex_id,d_hex_id,datetime,day,hr,sec,min,tick
0,0,1462075200,1051,-73.985901,40.768040,-73.983986,40.730099,15.0,935,695,2016-05-01 00:00:00,1,0,0,0,0
1,1,1462075200,421,-73.993073,40.741573,-73.980995,40.744633,6.5,775,777,2016-05-01 00:00:00,1,0,0,0,0
2,2,1462075200,1187,-73.991943,40.684601,-74.002258,40.733002,17.0,424,734,2016-05-01 00:00:00,1,0,0,0,0
3,3,1462075200,451,-73.991577,40.744751,-73.975700,40.765469,7.5,775,899,2016-05-01 00:00:00,1,0,0,0,0
4,4,1462075200,399,-74.005280,40.740192,-73.997498,40.737564,6.0,774,735,2016-05-01 00:00:00,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12937530,12937530,1464753598,470,-73.979668,40.749489,-73.992943,40.725491,8.5,818,655,2016-05-31 23:59:58,31,23,58,59,1439
12937531,12937531,1464753598,426,-73.981552,40.780460,-73.968117,40.760532,8.0,1000,900,2016-05-31 23:59:58,31,23,58,59,1439
12937532,12937532,1464753598,342,-74.000793,40.731941,-73.991249,40.750450,6.5,734,816,2016-05-31 23:59:58,31,23,58,59,1439
12937533,12937533,1464753599,619,-73.975784,40.789474,-73.994179,40.764069,10.0,1026,897,2016-05-31 23:59:59,31,23,59,59,1439
12937534,12937534,1464753599,458,-73.972435,40.754684,-73.985435,40.738312,7.5,859,776,2016-05-31 23:59:59,31,23,59,59,1439

In [28]:
for dayx, day_sample in taxi_records.groupby('day'):
    df = day_sample[['o_hex_id','d_hex_id','tick','day']]
    df.columns = ['origin_hid','destination_hid','tick','day']
    df.to_csv('../../data/daily_trips/%d.csv'%dayx,index=False)